workflows/BACKUP Workflows.json
{
  "active": false,
  "connections": {
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-01T12:35:02.769Z",
  "id": "7MoAibxjVGlZeVgj",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BACKUP Workflows",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "AgenciaRUGIA",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "RUGIA-N8N-Workflows",
          "mode": "name"
        },
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "d4c8c044-837b-4a5e-b886-66c25d9608f1",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -1776,
        -2224
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "35526ea1-9bc8-4f09-996b-8e817ae0a68a",
      "credentials": {
        "githubApi": {
          "id": "7AnDNAN9NuwUeUYm",
          "name": "GitHub RUGIA"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "ac744e51-c272-4a17-9672-ff27b363cfb6",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1232,
        -2112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "4722b09a-9991-4157-b71f-47e4744a0b8a",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -1072,
        -2464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "18e13698-f125-472c-863d-21947e9fa48f",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -1072,
        -2240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "60122ab5-db7e-4392-a530-0623ec143cbe",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -1072,
        -1904
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "AgenciaRUGIA",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "RUGIA-N8N-Workflows",
          "mode": "name"
        },
        "filePath": "{{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "ab7a5718-ea9b-4f6b-994d-8685cce1436f",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        -912,
        -2144
      ],
      "typeVersion": 1,
      "webhookId": "d5d48f37-2a81-4ee8-9b12-5e4fca9b9142",
      "credentials": {
        "githubApi": {
          "id": "7AnDNAN9NuwUeUYm",
          "name": "GitHub RUGIA"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "AgenciaRUGIA",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "RUGIA-N8N-Workflows",
          "mode": "name"
        },
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "66d9b7aa-06c8-4da7-8ce3-3d946a7fe744",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        -912,
        -1904
      ],
      "typeVersion": 1,
      "webhookId": "66080630-f125-417b-8565-5be1cd071d94",
      "credentials": {
        "githubApi": {
          "id": "7AnDNAN9NuwUeUYm",
          "name": "GitHub RUGIA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "bc4eb123-bdae-4d12-8c58-bcc1c781fcc6",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -1392,
        -2112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "67ee2b27-7234-4860-ae83-00f8869c3b53",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -1536,
        -2112
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "cb0e531c-373e-4f63-8ed0-106b124206a5",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1904,
        -2352
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f07b800c-50d3-4996-9544-365ce935a8a6",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2032,
        -2112
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "Rugia Agencia"
            },
            {
              "name": "repo.name",
              "value": "RUGIA-N8N-Workflows"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "233f47a4-57d7-4e48-865e-6387871d6eec",
      "name": "Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -2432,
        -2112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "126c932e-6389-48c1-9d1c-f0fcefb2a61a",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -2624,
        -2112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -2240,
        -2112
      ],
      "id": "c2c381d0-9057-440b-b031-bc32a9bb5d73",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "nNF9rSFY0eDG8IWX",
          "name": "N8N RUGIA"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-01T12:35:02.772Z",
      "updatedAt": "2025-10-01T12:35:02.772Z",
      "role": "workflow:owner",
      "workflowId": "7MoAibxjVGlZeVgj",
      "projectId": "46ckGhyzVQYKOUdU"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-27T08:47:14.954Z",
      "updatedAt": "2025-09-27T08:47:14.954Z",
      "id": "TN5TLHFmSETjcpwZ",
      "name": "🦁 Personal"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-02T06:42:04.000Z",
  "versionId": "7fb10a27-cfc2-4291-86c1-be195c6f4f54"
}