workflows/IF Y SWITCH.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "createdAt": "2025-09-29T05:53:42.116Z",
  "id": "g5FHfKF76gRqOsQq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "IF Y SWITCH",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "693ec865-52e2-4a19-8dec-3f8b497d2a7b",
      "name": "When chat message received",
      "webhookId": "bc53d07f-b21f-4f3f-b572-2a6c088f7e5c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "364d0bae-9d19-4e7d-9bf8-c6bf6fcc8391",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "Hola",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "54f8807a-c867-493b-8de7-732b13d7420b",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        -112
      ],
      "id": "41463280-73f4-428b-b896-37a1e8ea7aa9",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "Hola",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "69abbd13-e71b-4363-9b51-c9b072bc51eb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Saludo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7a8d758e-ff51-4890-92f5-dd07ecaeed16",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "Adios",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Despedida"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        208,
        96
      ],
      "id": "6543f589-bf8c-4988-b026-78405d96eca5",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "1388238157",
        "text": "¡Hola como estás!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        -64
      ],
      "id": "c1e3e6b4-51f3-4c50-8136-8634c9568eff",
      "name": "Send a text message",
      "webhookId": "50b6acd6-0529-4fbe-824f-1b845c88ebe5",
      "credentials": {
        "telegramApi": {
          "id": "98KgyCazf2JGdYhB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1388238157",
        "text": "¡Hasta luego!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        80
      ],
      "id": "71a15642-316f-43c9-85e6-600613b556aa",
      "name": "Send a text message1",
      "webhookId": "50b6acd6-0529-4fbe-824f-1b845c88ebe5",
      "credentials": {
        "telegramApi": {
          "id": "98KgyCazf2JGdYhB",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-29T05:53:42.118Z",
      "updatedAt": "2025-09-29T05:53:42.118Z",
      "role": "workflow:owner",
      "workflowId": "g5FHfKF76gRqOsQq",
      "projectId": "46ckGhyzVQYKOUdU"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-27T09:30:40.558Z",
      "updatedAt": "2025-09-27T09:30:40.558Z",
      "id": "1S8qKMK0vRUGfz1H",
      "name": "✅ Tests"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-01T08:02:38.000Z",
  "versionId": "9270ed19-09c0-40e2-8be5-8edf23552b29"
}