workflows/Organizador GMAIL.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Etiquetador de Gmail",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - get message": {
      "ai_tool": [
        [
          {
            "node": "Etiquetador de Gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - read labels": {
      "ai_tool": [
        [
          {
            "node": "Etiquetador de Gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - create label": {
      "ai_tool": [
        [
          {
            "node": "Etiquetador de Gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Etiquetador de Gmail",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - add label to message": {
      "ai_tool": [
        [
          {
            "node": "Etiquetador de Gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Vigila Correos": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Etiquetador de Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T10:47:17.235Z",
  "id": "kfRLJW5zpYjWdvur",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Organizador GMAIL",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 4096
        }
      },
      "id": "e0688e50-161c-4475-b81f-19933cb00ae1",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1408,
        -128
      ],
      "notesInFlow": false,
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "JxNURpWjn7djfpe6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "\nHerramienta para leer todas las etiquetas de Gmail existentes",
        "resource": "label",
        "returnAll": true
      },
      "id": "dcc4b0ec-cb47-40ac-8ca6-1faf89c7ac98",
      "name": "Gmail - read labels",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1904,
        -128
      ],
      "webhookId": "d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "2Fg31lsKLBZg6fNp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Herramienta para leer un mensaje espec칤fico seg칰n el ID del mensaje\n",
        "operation": "get",
        "messageId": "={{ $fromAI('gmail_message_id', 'id of the gmail message, like 1944fdc33f544369', 'string') }}"
      },
      "id": "7755ad37-84f5-4c44-84fb-1d3a534e28dd",
      "name": "Gmail - get message",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        2080,
        -128
      ],
      "webhookId": "d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "2Fg31lsKLBZg6fNp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "\nHerramienta para agregar etiquetas a los mensajes",
        "operation": "addLabels",
        "messageId": "={{ $fromAI('gmail_message_id') }}",
        "labelIds": "={{ $fromAI('gmail_categories', 'array of label ids') }}"
      },
      "id": "c8f5c606-4c5c-45ba-8277-43ebc1150003",
      "name": "Gmail - add label to message",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        2256,
        -128
      ],
      "webhookId": "7a87b026-1c6e-40e1-a062-aefdd1af1585",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "2Fg31lsKLBZg6fNp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Herramienta para crear una nueva etiqueta, usar solo si la etiqueta a칰n no existe",
        "resource": "label",
        "operation": "create",
        "name": "={{ $fromAI('new_label_name', 'new label name', 'string' ) }} ",
        "options": {}
      },
      "id": "97f0c450-3700-4776-bce4-e330431e9e05",
      "name": "Gmail - create label",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1728,
        -128
      ],
      "webhookId": "d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "2Fg31lsKLBZg6fNp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}",
        "contextWindowLength": 10
      },
      "id": "b8c72916-d061-4bb9-ab37-eff24e7cf521",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1568,
        -128
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5
            }
          ]
        },
        "filters": {}
      },
      "id": "444cc8f2-0a15-4de8-9b63-839c4206ae0d",
      "name": "Vigila Correos",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        896,
        -272
      ],
      "typeVersion": 1.2,
      "credentials": {
        "gmailOAuth2": {
          "id": "2Fg31lsKLBZg6fNp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Etiquete el correo electr칩nico seg칰n los detalles a continuaci칩n:\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "#ROL\nEres mi asistente administrativo inteligente (180IQ).\n\n#Objetivo:\nCategorizar autom치ticamente los correos entrantes seg칰n las etiquetas de Gmail existentes o crear una nueva si ninguna coincide.\n\n#Herramientas:\n- Obtener mensaje\n- Leer todas las etiquetas\n- Crear etiqueta\n- Asignar etiqueta al mensaje\n\n#Instrucciones:\n\n- Coincidencia de etiquetas:\nAnaliza el asunto, el remitente, el destinatario, las palabras clave y el contenido del correo.\nCompara con las etiquetas de Gmail existentes para encontrar la coincidencia m치s relevante.\n\n- Asignaci칩n de etiquetas:\nAsigna al correo la etiqueta existente m치s adecuada.\nElimina la etiqueta de la bandeja de entrada si el correo es menos importante (como anuncios, promociones, o \"Reclamar\") y mant칠n los correos normales e importantes en la bandeja de entrada.\nSi no existe una etiqueta adecuada, crea una nueva basada en las existentes. Intenta reutilizar las etiquetas existentes siempre que sea posible. Cree siempre una etiqueta como subetiqueta. Si no hay ninguna etiqueta aplicable, si la etiqueta principal ya existe, cree la nueva etiqueta debajo de la etiqueta existente. Si no hay ninguna etiqueta principal, cree la etiqueta AI y cree la nueva etiqueta debajo de esta.\n\n- Creaci칩n de etiquetas:\nAseg칰rese de que las nuevas etiquetas se ajusten a la estructura de las existentes, incluyendo may칰sculas y min칰sculas, delimitadores y prefijos.\n",
          "maxIterations": 5
        }
      },
      "id": "c7cb4a97-525c-4c43-b4eb-9d909cee10c7",
      "name": "Etiquetador de Gmail",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1392,
        -272
      ],
      "notesInFlow": true,
      "retryOnFail": false,
      "typeVersion": 1.7,
      "onError": "continueErrorOutput",
      "notes": "Objetivo:\nCategorizar autom치ticamente los correos electr칩nicos entrantes seg칰n las etiquetas de Gmail existentes o crear una nueva si ninguna coincide.\n\nHerramientas:\n- Obtener mensaje\n- Leer todas las etiquetas\n- Crear etiqueta\n- Asignar etiqueta al mensaje\n\nInstrucciones:\n\nCoincidencia de etiquetas:\n\nAnalice el asunto, el remitente, el destinatario, las palabras clave y el contenido del correo electr칩nico.\nComp치relo con las etiquetas de Gmail existentes para encontrar la coincidencia m치s relevante.\nAsignaci칩n de etiquetas:\n\nAsigne el correo electr칩nico a la etiqueta existente m치s adecuada.\nElimine la etiqueta de la bandeja de entrada si el correo electr칩nico es menos importante (como anuncios, promociones, o \"Reclamar\") y mantenga los correos electr칩nicos normales e importantes en la bandeja de entrada.\nSi no existe una etiqueta adecuada, cree una nueva etiqueta basada en las existentes. Intente reutilizar las etiquetas existentes siempre que sea posible. Cree siempre una etiqueta como subetiqueta. Si no hay ninguna etiqueta aplicable, si la etiqueta principal ya existe, cree la nueva etiqueta debajo de la etiqueta existente. Si no existe una etiqueta principal, cree la etiqueta AI y cree la nueva etiqueta debajo de esta. Creaci칩n de etiquetas:\n\nAseg칰rese de que las nuevas etiquetas se ajusten a la estructura de las existentes, incluyendo el uso de may칰sculas y min칰sculas, los delimitadores y los prefijos.\nEjemplos:\n\nSi el asunto del correo electr칩nico es \"Actualizaci칩n del Proyecto Alfa\", as칤gnelo a [Proyecto Alfa] si existe.\nPara \"Consulta a un nuevo proveedor\", cree \"Consulta a un proveedor\" si no existe una etiqueta relevante.\nResultado:\nLos correos electr칩nicos se categorizan de forma coherente bajo las etiquetas adecuadas o reci칠n creadas, manteniendo as칤 la estructura organizativa de Gmail.\n"
    },
    {
      "parameters": {},
      "id": "e45570bb-4f40-459f-9864-5fdcd8415aa3",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "position": [
        1136,
        -272
      ],
      "webhookId": "2066b863-4526-40cf-90aa-82229895a73c",
      "typeVersion": 1.1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-09-24T10:47:17.267Z",
      "updatedAt": "2025-09-24T10:47:17.267Z",
      "role": "workflow:owner",
      "workflowId": "kfRLJW5zpYjWdvur",
      "projectId": "46ckGhyzVQYKOUdU"
    }
  ],
  "staticData": {
    "node:Vigila Correos": {
      "Vigila Correos": {
        "lastTimeChecked": 1759302081,
        "possibleDuplicates": [
          "1999e935e1300328",
          "1999d1a955efb1e5"
        ]
      }
    }
  },
  "tags": [
    {
      "createdAt": "2025-09-27T08:47:14.954Z",
      "updatedAt": "2025-09-27T08:47:14.954Z",
      "id": "TN5TLHFmSETjcpwZ",
      "name": "游부 Personal"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-01T08:06:42.000Z",
  "versionId": "1a55897a-7153-4517-b43c-e1c57a969dc1"
}