workflows/TRANSFORMACIÓN DE DATOS.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-29T06:19:41.908Z",
  "id": "tsTdvH76uzjsyuD4",
  "isArchived": false,
  "meta": null,
  "name": "TRANSFORMACIÓN DE DATOS",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -16
      ],
      "id": "2a139ae9-c028-45bc-9095-8cfe54c3ef1b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://es.wired.com/feed/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -224,
        -16
      ],
      "id": "e89475e5-b84a-481c-8c51-42fbffcc4d00",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.isoDate }}",
        "timeUnit": "years",
        "duration": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        224,
        -720
      ],
      "id": "aa401809-9632-4c04-afa1-5a3aa1679323",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $json.isoDate }}",
        "part": "year",
        "outputFieldName": "year",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        224,
        -544
      ],
      "id": "e0fef798-f0a1-4c58-afd6-371c80fef0aa",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.isoDate }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        224,
        -384
      ],
      "id": "86ac2a0e-8a23-4973-87b0-c0141bdd0c6b",
      "name": "Date & Time2"
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $json.isoDate }}",
        "timeUnit": "years",
        "duration": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        224,
        -224
      ],
      "id": "280bd790-2215-4a9e-9c7a-1cbc63c8346a",
      "name": "Date & Time3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6095c23-7d8c-4367-a620-32f70344794c",
              "leftValue": "={{ $json.creator }}",
              "rightValue": "Jorge",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        224,
        -16
      ],
      "id": "febbed1e-7bf6-4720-ad44-9390ed9d39d9",
      "name": "Filter"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        224,
        208
      ],
      "id": "331d40b6-fdf6-4706-a172-cff0af5cab24",
      "name": "Limit"
    },
    {
      "parameters": {
        "compare": "allFieldsExcept",
        "fieldsToExclude": "title",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        224,
        416
      ],
      "id": "6db76df7-ee3e-4653-9ecb-c70d9c0478ed",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "fieldToSplitOut": "creator",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        224,
        624
      ],
      "id": "33756eca-9b0f-4bdd-b5bc-f33e22210f07",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "link",
              "renameField": true,
              "outputFieldName": "Enlace"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        624
      ],
      "id": "7ed8fd72-e0b4-45d5-b9d8-3474daa22201",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        816
      ],
      "id": "b1852795-fb07-4b75-a721-23e2f02989a9",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://es.wired.com/feed/negocios/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -208,
        832
      ],
      "id": "ce887f6e-2e0c-42bd-b3ee-f4a2c9b4f90f",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "creator",
              "newKey": "medio"
            },
            {
              "currentKey": "title",
              "newKey": "titulo"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        416,
        816
      ],
      "id": "06d41e31-6f92-4e56-8781-0293b524e32b",
      "name": "Rename Keys"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "pubDate"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        624,
        816
      ],
      "id": "2675194b-0170-481f-88d7-6bb93febe084",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        224,
        1024
      ],
      "id": "24ef6da3-6c02-47eb-aa9a-f43d4b5bddfb",
      "name": "Summarize"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        224,
        1232
      ],
      "id": "f2c35aa5-2af2-47b2-954f-a64ee03a6638",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "compress",
        "fileName": "=data_rss_{{ $runIndex }}.zip"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        416,
        1232
      ],
      "id": "7e5bc6ed-ff9f-4eb2-9ae3-feee8581bcea",
      "name": "Compression"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        1264
      ],
      "id": "241caabb-ab09-4c8b-882d-ff6afe9d18cd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "binaryData": true
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        416,
        1392
      ],
      "id": "bf53c0a5-2486-410a-83a5-aad5ee233af8",
      "name": "Crypto"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-09-29T06:19:41.920Z",
      "updatedAt": "2025-09-29T06:19:41.920Z",
      "role": "workflow:owner",
      "workflowId": "tsTdvH76uzjsyuD4",
      "projectId": "46ckGhyzVQYKOUdU"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-27T09:30:40.558Z",
      "updatedAt": "2025-09-27T09:30:40.558Z",
      "id": "1S8qKMK0vRUGfz1H",
      "name": "✅ Tests"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-01T08:02:35.000Z",
  "versionId": "fcd6ea85-bcb9-483e-b39b-14b9e52f9429"
}